body {
    margin: 0;
    padding: 0;
    font-family: Calibri;
}

::-webkit-scrollbar {
    width: 5px;
    border-radius: 20px;
}

::-webkit-scrollbar-thumb {
    background: #073D8E;
    border-radius: 20px;

}

::-webkit-scrollbar-thumb:hover {
    background: black;
    border-radius: 20px;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5em;
}

.items {
    margin: 0;
    padding: 0;
    width: 30vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
}

.title {
    font-size: 4em;
    width: 70%;
    font-weight: 900;
}

.banner {
    background-image: url(../assets/banner.png);
    background-size: 100vw;
    background-repeat: no-repeat;
    height: 100vh;
    color: white;
}

.navbar {
    background: rgb(0, 0, 0);
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0) 100%);
    font-size: 1.5em;
    display: flex;
}

.navbar .container {
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.phrases {
    width: 80%;
    margin: auto;
    display: flex;
    height: 50%;
    flex-direction: row;
    justify-content: right;
    align-items: flex-end;
}

.phrases .phrase {
    width: 50%;
    font-size: 1.5em;
}

.phrases .container {
    /* width: 50%; */
    /* margin: auto; */
    /* align-items: center; */
    /* flex-flow: row wrap; */
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.phrases .container button {
    box-sizing: border-box;
    font-size: 1.125em;
    width: 180px;
    height: 45px;
    background-color: transparent;
    color: #ffffff;
    border: 1px solid #00FFFF;
    cursor: pointer;
    border-radius: 10px;
}

.lorem {
    position: relative;
    z-index: -1;
    margin-top: -30vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../assets/line.png);
    background-repeat: no-repeat;
    background-size: 100vw;
    height: 800px;
}

.lorem .container {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.lorem .container .text {
    display: flex;
    flex-direction: column;
    width: 40%;
}

.lorem .container .text .title {
    color: #073D8E;
}

.lorem .container .text .phrase {
    font-size: 1.7em;
}

.lorem .container img {
    width: 400px;
    height: 400px;
}

.cards {
    position: static;
    z-index: -2;
    /* margin-top: 500px; */
}

.cards .container {
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.cards .container .card {
    width: 15%;
    box-shadow: 0px 0px 20px 0px black;
    padding: 1%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.cards .container .card img {
    display: flex;
    width: 150px;
}

.cards .container .teste .phrase {
    font-size: 24em;
}

.footer {
    color: white;
    background-color: #041727;
    padding: 2% ;
}

.footer .container {
    width: 80%;
    margin: auto;
}

.footer .container .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer .container .bottom {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer .container .bottom {}

@media only screen and (max-width: 768px) {
    .navbar {
        font-size: 1em;
    }

    .navbar img {
        width: 34px;
        height: 34px;
    }

    .phrases h1 {
        font-size: 2em;
    }
}

@media only screen and (max-width: 600px) {
    .navbar {
        font-size: 0.5em;
    }
}