@media screen and (max-width: 768px){
    .circle{
        position: relative;
        width: 224px;
        height: 224px;
        border-radius: 50%;
        left: 30%;
        color: #000000;
        background: #00FFFF;
        padding: 20px;
        margin-top: 40px;
        font-weight: bolder;
        font-size: 25px;
        border-top: 100px;
    }
    .cards{
        display: grid;
        justify-content: center;
        color: white;
        text-align: left;
        font-family: Share Tech;
        font-size: 20px;
        font-weight: 400;
        line-height: 23px;
        letter-spacing: 0em;
        text-align: left;
    }
    .topcard1{
        height: 19px;
        width: 300px;
    }
    .topcard2{
        height: 19px;
        width: 300px;
    }
    .topcard3{
        height: 19px;
        width: 300px;
    }
    .card1{
        margin-bottom: 60px;
        height: 600px;
        width: 300px;
    }
    .card2{
        margin-bottom: 60px;
        height: 600px;
        width: 300px;
        }
    .card3{
        margin-bottom: 60px;
        height: 600px;
        width: 300px;
    }
    .background {
        height: 3050px;
    
    }

}