@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Share+Tech&display=swap%27');

/* popup */
.popup {
    font-family: 'Montserrat';
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: black;
}

.popup_conteudo {
    border-radius: 5%;
    background-color: white;
    margin: 2.5% auto;
    width: 70%;
    height: 90%;
    box-shadow: 0px 5px 10px 0 rgba(0, 0, 0, 0.17), 0px 7px 20px 0 rgba(0, 0, 0, 0.17);
    animation-name: abrindoPopup;
    animation-duration: 0.5s;
}

.popup_fechar {
    position: absolute;
    top: 4vw;
    right: 17vw;
    color: black;
    font-size: 40px;
    transition: 0.1s;
}

.popup_fechar:hover {
    color: #061F36;
    cursor: pointer;
    transition: 0.1s;
    text-decoration: none;
}

.telaCadastro {
    margin: 0;
    display: flex;
    height: 100%;
}

.imgCadastro {
    border-radius: 5% 0% 0% 5%;
    background-image: url('assets/background/banner-cadastro.png');
    width: 50%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.formularioCadastro {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.formularioCadastro p, .formularioLogin p{
    font-size: 12px;
    display: block;
}

.formularioCadastro h1 {
    font-family: 'Share Tech';
    font-weight: 500;
    font-size: 2rem;
    text-align: center;
    display: flex;
}

.inputCadastro {
    width: 70%;
    height: 70vh;
    gap: 30px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    overflow: auto;
}

.formularioCadastro input {
    padding: 15px;
    font-size: 15px;
    color: black;
    background-color: #E7E7E7;
    border: none;
    border-radius: 10px;
}

.conteudoCadastro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.conteudoCadastro p {
    margin-top: 20px;
}

.conteudoCadastro a {
    color: black;
    cursor: pointer;
}

.botaoCadastrar {
    font-family: "Montserrat";
    background-color: #00d9ff;
    font-size: 20px;
    border: none;
    width: 170px;
    height: 45px;
    border-radius: 10px;
    transition: 0.25s;
}

.botaoCadastrar:hover {
    background-color: #008cff;
    transition: 0.25s;
    box-shadow: 0px 1px 5px black;
    cursor: pointer;
}

#clique_login:hover {
    cursor: pointer;
}

@keyframes abrindoPopup {
    from {
        opacity: 0
    }

    to {
        opacity: 1;
    }
}

/* popup */
.popupLogin {
    font-family: 'Montserrat';
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: black;
}

.popup_conteudo_login {
    border-radius: 5%;
    background-color: white;
    margin: 5% auto;
    width: 70%;
    height: 80%;
    box-shadow: 0px 5px 10px 0 rgba(0, 0, 0, 0.17), 0px 7px 20px 0 rgba(0, 0, 0, 0.17);
    animation-name: abrindoPopup;
    animation-duration: 0.5s;
}

.popup_fechar_login {
    position: absolute;
    top: 12vh;
    right: 17vw;
    color: black;
    font-size: 40px;
    transition: 0.1s;
}

.popup_fechar_login:hover {
    color: #061F36;
    cursor: pointer;
    transition: 0.1s;
    text-decoration: none;
}

.telaLogin {
    margin: 0;
    display: flex;
    height: 100%;
}

.imgLogin {
    border-radius: 5% 0% 0% 5%;
    /* box-shadow: black 0px 0px 10px 0px; */
    background-image: url('assets/background/banner-login.png');
    width: 50%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.formularioLogin {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.formularioLogin h1 {
    font-family: 'Share Tech';
    font-weight: 500;
    font-size: 32px;
    text-align: center;
    margin-bottom: 15px;
    display: flex;
}

.formularioLogin .select {
    padding: 10px;
    font-size: 15px;
    color: black;
    background-color: #E7E7E7;
    border: none;
    border-radius: 10px;
    margin-bottom: 30px;
}

.formularioLogin input {
    padding: 15px;
    font-size: 15px;
    color: black;
    background-color: #E7E7E7;
    border: none;
    border-radius: 10px;
}

.inputLogin {
    width: 70%;
    gap: 30px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    overflow: auto;
}

.conteudoLogin {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.conteudoLogin p {
    margin-top: 20px;
    text-align: center;
}

.conteudoLogin a {
    color: black;
    cursor: pointer;
}

.botaoEntrar {
    font-family: "Montserrat";
    background-color: #00d9ff;
    font-size: 20px;
    border: none;
    width: 170px;
    height: 45px;
    border-radius: 10px;
    margin-top: 35px;
    transition: 0.25s;
}

.botaoEntrar:hover {
    background-color: #008cff;
    transition: 0.25s;
    box-shadow: 0px 1px 5px black;
    cursor: pointer;
}

.conteudoLogin a:hover {
    cursor: pointer;
}

@keyframes abrindoPopup {
    from {
        opacity: 0
    }

    to {
        opacity: 1;
    }
}