* {
    margin: 0;
    padding: 0;
}

.title {
    font-size: 4rem;
    font-weight: 700;
}

.phrase {
    font-size: 1.5rem;
}

.banner {
    height: 100vh;
    background-image: url(../styles/assets/background/banner.png);
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeat;
    color: white;
}

.containerPhrases {
    height: 70vh;
    display: flex;
    justify-content: center;
}

.phrases {
    font-family: 'Montserrat';
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    width: 100%;
}

.phrases .container {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.phrases .container button {
    box-sizing: border-box;
    font-size: 1.125rem;
    width: 180px;
    height: 45px;
    background-color: transparent;
    color: #ffffff;
    border: 1px solid #00FFFF;
    font-family: 'Montserrat';
    cursor: pointer;
    border-radius: 10px;
}

.botao {
    border: 2px solid white;
    background: none;
    color: white;
    margin: 0;
    cursor: pointer;
    padding: 5px;
}

.how-works {
    display: flex;
    font-family: 'Montserrat';
    background-image: url(../styles/assets/background/line.png);
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: 70%;
    background-size: 100%;
    height: 70vh;
}

.how-works .container {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.how-works-text {
    display: flex;
    flex-direction: column;
    width: 80%;
}

.how-works-text .phrase {
    width: 80%;
}

.how-works .container img{
    width: 30vw;
}

.cards {
    height: 80vh;
}

.container-cards {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100%;
}


.container-card .card .icon {
    border-radius: 4px;
    position: absolute;
    top: 0;
    left: 0;
    width: 20vw;
    height: 100%;
    background: #073D8E;
}

.icon {
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon img {
    height: 20vh;
}

.content {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

.card .icon .fa {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 80px;
    color: #fff;
}

.card .slide {
    width: 20vw;
    height: 25vh;
    transition: 0.5s;
}

.card .slide.slide1 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transition: .7s;
    transform: translateY(100px);

}

.card:hover .slide.slide1 {
    transform: translateY(0px);
}

.card .slide.slide2 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    transition: .8s;
    transform: translateY(-100px);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
}

.card:hover .slide.slide2 {
    transform: translateY(0);
}

.card .slide.slide2::after {
    content: "";
    position: absolute;
    width: 30px;
    height: 4px;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
    background: #073D8E;

}

.card .slide.slide2 .content p {
    margin: 0;
    padding: 0;
    text-align: center;
    color: #414141;
    padding-bottom: 25px;
}

.card .slide.slide2 .content h3 {
    margin: 0 0 10px 0;
    padding: 0;
    font-size: 24px;
    text-align: center;
    color: #414141;
}