@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Share+Tech&display=swap%27');

* {
    margin: 0;
    padding: 0;
    font-family: Montserrat;
}

::-webkit-scrollbar {
    width: 5px;
    border-radius: 20px;
}

::-webkit-scrollbar-thumb {
    background: #1B4364;
    border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
    background: black;
    border-radius: 20px;
}

.content .container {
    display: flex;
    width: 80%;
}

.list {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: large;
}

.list .container {
    width: 80%;
    margin: auto;
}

.logo {
    padding: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo img {
    height: 50px;
}

.content {
    display: flex;
}

.sidebar {
    width: 20%;
    height: auto;
    background: #1e1e1e;
    transition: all .5s ease;
}

.sidebar header {
    font-size: 28px;
    color: white;
    line-height: 70px;
    text-align: center;
    background: #1b1b1b;
    user-select: none;
    font-family: 'Montserrat', sans-serif;
}

.sidebar a {
    display: block;
    height: 65px;
    width: 100%;
    color: white;
    line-height: 65px;
    padding-left: 30px;
    box-sizing: border-box;
    text-decoration: none;
    border-bottom: black 1px solid;
    border-top: rgba(255, 255, 255, .1) 1px solid;
    border-left: transparent 5px solid;
    font-family: 'Open Sans', sans-serif;
    transition: all .5s ease;
}

.sidebar a.active,
.sidebar a:hover {
    border-left: #00ccff 5px solid;
    color: #00ccffc0;
}

.sidebar a i {
    font-size: 23px;
    margin-right: 16px;
}

.sidebar a span {
    letter-spacing: 1px;
    text-transform: uppercase;
}

.sidebar label #btn {
    position: absolute;
    cursor: pointer;
    color: white;
    border-radius: 5px;
    border: #262626 1px solid;
    margin: 15px 30px;
    font-size: 28px;
    background: #262626;
    height: 45px;
    width: 45px;
    text-align: center;
    line-height: 45px;
    transition: all .5s ease;
}


label #btn {
    margin-left: 245px;
    opacity: 0;
    visibility: hidden;
}


@media(max-width: 860px) {
    .sidebar {
        height: auto;
        width: 70px;
        left: 0;
        margin: 100px 0;

    }

    header,
    #btn {
        display: none;
    }

    .sidebar span {
        position: absolute;
        margin-left: 23px;
        opacity: 0;
        visibility: hidden;
    }

    .sidebar a {
        height: 60px;
    }

    .sidebar a i {
        margin-left: -10px;
    }

    .sidebar a:hover {
        width: 200px;
        background: inherit;
    }

    .sidebar a:hover span {
        opacity: 1;
        visibility: visible;
    }

}


.saida {
    position: relative; 
    /* bottom: -25%; */
}

.container {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #262626;
}

.box-container {
    height: 40vh;
    border: white 2px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.box {
    width: 30%;
    height: 50%;
    background: #1b1b1b;
    margin: 0 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
    border-radius: 10px;
}

.box-container .box {
    border: #1b1b1be5 2px solid;
    background: #1b1b1b;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}

.box-container2 .box {
    border: #1b1b1be5 2px solid;
    margin-bottom: 5%;
    width: 30vw;
    height: 80%;
    background: #1b1b1b;
    margin: 1 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.box-descricao {
    width: 60vw;
    height: 10vh;
    border: red 2px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.desc {
    width: 10%;
    height: 50%;
    background: #1b1b1b;
    margin: 0 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
    border-radius: 10px;
    margin-inline-end: 20px;
}